{% extends "base.html" %}

{% block title %}Страница не найдена{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
<div class="content">
    <h1>404 - Страница не найдена</h1>
    <p>Извините, запрошенная вами страница не найдена.</p>
    <div class="btn">
        <div class="buttonin">
            <a href="{{ url_for('main.index') }}">Вернуться на главную</a>
        </div>
    </div>
</div>
{% endblock %}