{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
<div class="content">
    <h1>Добро пожаловать в Classify</h1>
    <p>😞 Пока что здесь совсем пусто, но скоро мы всё исправим!</p>
    <br><br>

    <!-- Списки -->
    <h3>Список дел:</h3>
        <h4>Сделать полноценную систему профилей</h4>
        <h4>Увеличить защиту данных</h4>
        <h4>Добавить страницы уроков и таблицы посещаемости</h4>
    </div>
</div>
{% endblock %}