{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock %}

{% block content %}
<div class="wrapper">
    <form method="POST" action="{{ url_for('auth.register') }}">
        {{ form.hidden_tag() }} <!-- CSRF-защита -->
        <h2>Регистрация</h2>
        <div class="input-field">
            {{ form.first_name.label }}
            {{ form.first_name(placeholder="Ваше имя", required=True) }}
        </div>
        <div class="input-field">
            {{ form.last_name.label }}
            {{ form.last_name(placeholder="Ваша фамилия", required=True) }}
        </div>
        <div class="input-field">
            {{ form.email.label }}
            {{ form.email(placeholder="Ваш email", required=True) }}
        </div>
        <div class="input-field">
            {{ form.password.label }}
            {{ form.password(placeholder="Ваш пароль", required=True) }}
        </div>
        <div class="input-field">
            {{ form.confirm_password.label }}
            {{ form.confirm_password(placeholder="Подтвердите пароль", required=True) }}
        </div>
        {{ form.submit(class="btn") }}
        <div class="agreement">
            <p>Прочитайте <a href="{{ url_for('auth.terms') }}">Пользовательское соглашение</a></p>
        </div>
        <div class="login-link">
            <p>Уже есть аккаунт? <a href="{{ url_for('auth.login') }}">Войти</a></p>
        </div>
    </form>
</div>
{% endblock %}